MeetChooser.app/Contents/MacOS/applet                        binary
MeetChooser.app/Contents/Resources/Assets.car                binary
MeetChooser.app/Contents/Resources/applet.icns               binary
MeetChooser.app/Contents/Resources/applet.rsrc               binary
MeetChooser.app/Contents/Resources/Scripts/main.scpt         binary
